/* -------------------------------------- */
/* ログイン画面 固有スタイル (login.css) */
/* -------------------------------------- */

/* ログインボタンの上のマージン (FN015-1) */
.form-container .btn-primary {
    margin-top: 15px;
}

/* アカウント作成はこちらリンクの上のマージン (FN015-2) */
.form-container .sub-link {
    margin-top: 15px;
}