.weight-input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.weight-input-group input[type="number"] {
    flex: 1;
    text-align: right;
    padding-right: 5px;
    max-width: none;
}

.weight-input-group span {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1.2;
}